/* .imgcs {

    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 20px;

}

h1{
    margin-bottom: 30px;
}
.bgclr {
    border-style: none;
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 500px;
    margin-bottom: 400px;
    background-color: lightpink;
    padding: 20px;

}

span {
    margin-left: 30px;
 
}

button {
    background-color: deeppink;
    margin: 20px;
    width: 350px;
 
 
} */